{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	{% if menuColor %}<style>::selection{background:{{menuColor}};}*{color:{{menuColor}};}</style>{% endif %}
	</head>
{% endblock %}

	<body 
		class="{{body_class}}" 
		data-template="base.twig" 
		{% if bgColor %}style="background-color:{{bgColor}};"{% endif %}>
		
		{% block header %}
			{% include 'components/header.twig' %}
		{% endblock %}

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			
			{# {% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %} #}
		
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		{# Uncomment on local dev #}
		<script src="/javascripts/app.js" defer=""></script>
    <script src="{{ site.theme.link }}/assets/javascripts/app.js" defer=""></script>
	</body>
</html>
