{% extends "base.twig" %}

{% block content %}
	<div class="contentWrapper">
		<article class="postType postType--{{ post.post_type }}" id="post-{{ post.ID }}">
			
			<h1 class="articleTitle u-visually-hidden">{{ post.title }}</h1>
			{# <img src="{{ post.thumbnail.src|resize(1200, 300) }}"> #}
			
			<div class="row">
				{% include 'components/dynamic-block.twig' %}
			</div>

			{# <p class="postDate">{{ post.date }}</p>
			<div class="articleBody">
				{{post.content}}
			</div> #}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
