
<div 
	class="block grid-col grid-col-{{item.width}} {% if item.desktop_only %}block--desktopOnly{% endif %}" 
	style="background-color:{{item.background_color}};color:{{item.text_color}};align-items:{{item.align_items}};justify-content:{{item.justify_content}};text-align:{{item.text_align}};min-height:{{item.min_height}};{% if item.gradient %}{{item.gradient}}{% endif %}">

	{# {% if item.fullwidth_heading %}data-module="fullwidthtextelement"{% endif %} #}

	{% if item.background_image %}
		<div class="block__bgImage" style="background-image:url({{TimberImage(item.background_image).src}});"></div>
	{% endif %}

	<div class="block__content {% if item.reveal %}reveal{% endif %} {% if item.large_heading %}block__content--largeTitle{% endif %}">

		{% if item.link.url and not item.link.title %}<a class="block__blockLink" href="{{item.link.url}}">{% endif %}
		
			{% if item.html_content %}
				{{ item.html_content }}
			{% else %}
				{{ item.content }}
			{% endif %}

		{% if item.link.url and not item.link.title %}</a>{% endif %}

		{% if item.embed %}
			<div class="u-responsive-iframe-wrapper">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{item.embed}}?rel=0&controls=0&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		{% endif %}

		{% if item.link.title %}<a class="block__link" href="{{item.link.url}}">{{ item.link.title }}</a>{% endif %}

	</div>
	
</div>

